body {
    background-color: rgb(231, 198, 220);
}

#titulo{
    text-align:center;
    background-color:rgb(37, 210, 223);
    font-size: 50px;
}

#titulo1 {
    font-size: 25px;
    text-align:center;
}

.paragrafo {
    color: rgb(190, 40, 170);
    text-align: justify;
    font-size: 25px;
}
