body {
    background-color: rosybrown;
}

#titulo{
    text-align:center;
    background-color:black;
    font-size: 50px;
}

#titulo1 {
    font-size: 50px;
    text-align:center;
}

.paragrafo {
    color: rgb(190, 40, 170);
    text-align: justify;
    font-size: 15px;
}
