body {
    background-color: #e7c7b0;
}

#titulo{
    text-align:center;
    background-color:rgb(37, 210, 223);
    font-size: 50px;
}

#titulo1 {
    font-size: 25px;
    text-align:center;
}

.paragrafo {
    color: rgb(190, 40, 170);
    text-align: justify;
    font-size: 20px;
}

ul {
 inline-size: auto;
}

#logo {
    height: 400px;
    width: 400px;
    padding: 5px;
    margin: 15px;
    border: 10px outset rgb(190, 40, 170);
}